body {
  background-color: lightblue;
}

.grid-container {
  display: grid;
  grid-template-columns: 400px 100px;
}
.grid-container {
  display: inline-grid;
}
#game {
  background-color: lightcyan;
  height: 900px;
}

#score {
  background-color: grey;
  height: 900px;
}