@use 'colors';

.FlyingIndicator {
  text-align: center;
  border-radius: 50% 50% 50% 50%;
  position: absolute;

}
.info {
  background-color: yellowgreen;
}
.danger {
  background-color: lightsalmon;
}
  
.good {
  background-color: lightgreen;
}