$height: 20px;

.indicatorWrapper {
  height: $height;
  width: 100%;
  .full {
    height: $height;
    background-color: lightgreen;
    color: lightgreen;
    float: left;
  }
  .blank {
    height: $height;
    background-color: lightsalmon;
    color: lightsalmon;
    float: left;
  }
}